
    
        <div class="slider">
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="text-light mt-4">
                        <div class="h1 text-center">
                            The ProcureSwift Blog
                        </div>
                        <div class="h5 text-center mb-5">
                            Updates and announcements from Team Procureswift!
                        </div>
                    </div>
                
                    <div class="card mb-4">
                        <div class="card-body">   
                            <form>
                                <div class="form-group">
                                    <input class="form-control email-input mb-2" required="required" placeholder="eg. siaw@gmail.com" />
                                    <input type="submit" value="Subscribe" class="btn btn-warning btn-block" data-disable-with="Please wait..." />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- slider -->
    
        <section class="blog-area section">
            <div class="container">
    
                <div class="row">

                    <% @post.each do |post| %>
                        <div class="col-lg-4 col-md-6">
                            <div class="card h-100">
                                <div class="single-post post-style-1">
        
                                    <div class="blog-image"><img src="<%= url_for(post.main_image) %>"" alt="Blog Image"></div>
        
                                    <a class="avatar" href="#"><img src="<%= url_for(post.user.avatar) %>" alt="Profile Image"></a>
        
                                    <div class="blog-info">
        
                                        <h4 class="title"><a href="<%= post_path(post) %>"><b><%= post.title %></b></a></h4>
        
                                    </div><!-- blog-info -->
                                </div><!-- single-post -->
                            </div><!-- card -->
                        </div><!-- col-lg-4 col-md-6 -->
                    <% end %>
                </div><!-- row -->
    
                <a class="load-more-btn" href="#"><b>LOAD MORE</b></a>
    
            </div><!-- container -->
        </section><!-- section -->
    
    
        <footer>
    
            <div class="container">
                <div class="row">
    
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-section">
    
                            <a class="logo" href="#">
                                <img src="https://res.cloudinary.com/tenderswift/image/upload/v1574635669/ProcureSwiftLogos/procureswift-logo-large.png" alt="Logo Image" class="footer-logo">
                            </a>
                            <ul class="icons">
                                <li><a href="https://web.facebook.com/procureswift/"><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="https://www.instagram.com/procureswift/"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
    
                        </div><!-- footer-section -->
                    </div><!-- col-lg-4 col-md-6 -->
    
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-section">
    
                            <h4 class="title"><b>SUBSCRIBE</b></h4>
                            <div class="input-area">
                                <form>
                                    <input class="email-input" type="text" placeholder="Enter your email">
                                    <button class="submit-btn" type="submit"><i class="icon ion-ios-email-outline"></i></button>
                                </form>
                            </div>
    
                        </div><!-- footer-section -->
                    </div><!-- col-lg-4 col-md-6 -->
    
                </div><!-- row -->
            </div><!-- container -->
        </footer>